* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    color: #5a5956;
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gilda Display', serif;
    color: #21201E;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

a {
    color: #21201E;
    text-decoration: none;
}

a:hover {
    color: #AF7746;
}

#header {
    background-color: #fff;
}

#header-inner {
    padding: 37px 0 30px;
}

#header-inner .inner-wrap {
    position: relative;
}

#logo {
    float: left;
}

#main-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

#main-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#main-menu > ul > li {
    display: inline-block;
    padding: 0 20px;
    font-weight: 600;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}